<div class="container">
  <div class="top">
    <h1>The Best Books</h1>
    <section *ngIf="books">
      <ng-container *ngFor="let book of books">
        <article>
          <div class="image">
            <img src={{book.imageUrl}} alt="no-img">
          </div>
          <div class="info">
            <h1>{{book.name}}-{{book.author}}</h1>
            <!-- <button *ngIf="!isLogged" [routerLink]="['/books', book._id]">Details</button> -->
            <ng-container *ngIf="isLogged">
              <a [routerLink]="['/books', book._id]">
                 <button>Details</button>
              </a>
            </ng-container>
          </div>
        </article>
      </ng-container>

    </section>
  </div>

  <div class="buttons">
      <a routerLink="/books">
          <button>All Books</button>
       </a>
       <ng-container *ngIf="!isLogged">
           <a routerLink="/login">
              <button>Login</button>
           </a>
           <a routerLink="/register">
              <button>Register</button>
           </a>
       </ng-container>
  </div>

</div>