<!-- <!-- <form [formGroup]="form" class="register" (ngSubmit)="registerHandler()">
    <fieldset>

        <h2 class="card-header">Register</h2>
        <div class="card-body">
            
                <p class="form-group">
                    <label for="username"><span>Username</span></label>
                    <input class="input-error" type="text" formControlName="username" id="username" placeholder="Johny">
                    <ng-container *ngIf="form.get('username')?.touched">
                        <p *ngIf="form.get('username')?.errors?.['required']" class="error">
                            Username is required!
                        </p>
                        <p *ngIf="form.get('username')?.errors?.['minlength']" class="error">
                            Username should be longer than 5 chars
                        </p>
                    </ng-container>
                </p>
                <p class="form-group">
                    <label for="email"><span>Email</span></label>
                    <input type="email" formControlName="username" id="email" placeholder="john.doe@gmail.com">
                </p>
                <ng-container *ngIf="form.get('email')?.touched">
                    <p class="error" *ngIf="form.get('email')?.errors?.['required']">
                        Email is required!
                    </p>
                    <p class="error" *ngIf="form.get('email')?.errors?.['appEmailValidator']">
                        Email is not valid!
                    </p>
                </ng-container>
                <ng-container formGroupName="pass">

                    <p class="form-group">
                        <label for="password"><span>Password</span></label>
                        <input type="password" formControlName="password" id="password" placeholder="******">

                    </p>
                    <ng-container *ngIf="form.get('pass')?.get('password')?.touched">
                        <p class="error" *ngIf="form.get('pass')?.get('password')?.errors?.['required']">
                            Password is required!
                        </p>
                        <p class="error" *ngIf="form.get('pass')?.get('password')?.errors?.['minlength']">
                            Password must be at least 5 characters!
                        </p>
                    </ng-container>
    
                    <p class="form-group">
                        <label for="rePassword"><span>Repeat Password</span></label>
                        <input type="password" formControlName="rePassword" id="rePassword" placeholder="******">
                    </p>
                    
                    <ng-container>
                        <p *ngIf="form.get('pass')?.errors?.['sameValueGroupValidator'] && form.get('pass')?.get('rePassword')?.touched"
                            class="error">Repeat Password does not match
                            password!</p>
                    </ng-container>
                </ng-container>

                <button [disabled]="form.invalid">Register</button>
                <p class="text-center">
                    Have an account?
                    <a routerLink="/auth/login">Login</a>
                </p>

           
        </div>
    </fieldset>
</form> -->


 <form [formGroup]="form" class="register" (ngSubmit)="registerHandler()">

    <fieldset>
      <h2>Register</h2>
  
      <p class="class form">
        <label for="username"><span>Username</span></label>
        <input class="input-error" type="text" formControlName="username" id="username" placeholder="Johny">
      </p>
      <ng-container *ngIf="form.get('username')?.touched">
        <p *ngIf="form.get('username')?.errors?.['required']" class="error">
          Username is required!
        </p>
        <p *ngIf="form.get('username')?.errors?.['minlength']" class="error">
          Username should be longer than 5 chars
        </p>
      </ng-container>
  
      <p class="class form">
        <label for="email"><span>Email</span></label>
        <input type="email" formControlName="email" id="email" placeholder="john.doe@gmail.com">
      </p>
      <ng-container *ngIf="form.get('email')?.touched">
        <p class="error" *ngIf="form.get('email')?.errors?.['required']">
          Email is required!
        </p>
        <p class="error" *ngIf="form.get('email')?.errors?.['appEmailValidator']">
          Email is not valid!
        </p>
      </ng-container>
  
      
        <p class="class form">
          <label for="password"><span>Password</span></label>
          <input type="password" formControlName="password" id="password" placeholder="******">
        </p>
        <ng-container *ngIf="form.get('password')?.get('password')?.touched">
          <p class="error" *ngIf="form.get('password')?.get('password')?.errors?.['required']">
            Password is required!
          </p>
          <p class="error" *ngIf="form.get('password')?.get('password')?.errors?.['minlength']">
            Password must be at least 5 characters!
          </p>
        </ng-container>
  
        <p class="class form">
          <label for="rePass"><span>Repeat password</span></label>
          <input type="password" formControlName="rePass" id="rePass" placeholder="******">
        </p>
  
        <p *ngIf="form.get('password')?.errors?.['sameValueGroupValidator'] && form.get('password')?.get('rePass')?.touched"
          class="error">Repeat Password does not match
          password!</p>
   
      <button [disabled]="form.invalid">Create Account</button>
  
      <p class="text-center">
        Have an account?
        <a routerLink="/login">Log In</a>
      </p>
  
    </fieldset>
  </form>


  <!-- <div class="container">
    <div class="class form">
        <h1>Register</h1>
        <form [formGroup]="form" method="post" (ngSubmit)="registerHandler()">
            <label>Username</label>
            <input type="text" placeholder="Username..." name="username" formControlName="username">
            <ng-container *ngIf="form.get('username')?.touched">
                <p class="error" *ngIf="form.get('username')?.errors?.['required']">Username is required!</p>
                <p class="error" *ngIf="form.get('username')?.errors?.['minlength']">Username should have 4 characters!</p>
                <p class="error" *ngIf="form.get('username')?.errors?.['maxlength']">Username shouldn't have more than 10 characters!</p>
            </ng-container>
            <label>Email</label>
            <input type="text" placeholder="Email..." name="email" formControlName="email">
            <ng-container *ngIf="form.get('email')?.touched">
                <p class="error" *ngIf="form.get('email')?.errors?.['required']">Email is required!</p>
                <p class="error" *ngIf="form.get('email')?.errors?.['invalidEmail']">Email should be valid!</p>
            </ng-container>
            <label>Password</label>
            <input type="password" placeholder="Password..." name="password" formControlName="password">
            <ng-container *ngIf="form.get('password')?.touched">
                <p class="error" *ngIf="form.get('password')?.errors?.['required']">Password is required!</p>
                <p class="error" *ngIf="form.get('password')?.errors?.['minlength']">Password should have more than 6 characters!</p>
                <p class="error" *ngIf="form.get('password')?.errors?.['maxlength']">Password should have less 12 characters!</p>
            </ng-container>
            <label>Confirm Password</label>
            <input type="password" placeholder="Repeat Password..." name="rePass" formControlName="rePass">
            <ng-container *ngIf="form.get('rePass')?.touched">
                <p class="error" *ngIf="form.get('rePass')?.errors?.['required']">Repeat-password is required!</p>
                <p class="error" *ngIf="form.get('rePass')?.errors?.['invalidPasswords']">Passwords must be equal!</p>
            </ng-container>
            <ng-container *ngIf="errors">
                <p class="mainerror">{{errors}}</p>
            </ng-container>
            <input [disabled]="form.invalid" type="submit" value="Register" class="btn">
        </form>
        <p class="text">Already have an account? <a routerLink="/login">Login here</a></p>
    </div>
</div> -->
