h1 {
    color: rgb(78, 77, 77);
    text-align: center;
}

button {
    padding: 10px 20px;
    margin-left: 33rem;
    border: 1.3px solid black;
    background-color: rgb(78, 77, 77);
    color: white;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}