<mat-toolbar>
    <mat-toolbar-row class="nav">
        <span routerLink="/">BOOKOHOLIC</span>
        <span class="example-spacer"></span>
        <!-- toggle ako si lognat profil i logout + iconkite ako ne si tezi  -->
        <a routerLink="/">Home</a>
        <a routerLink="/books">Catalog</a>
        <ng-container *ngIf="!isLogged">
            <a routerLink="/login">Login</a>
            <a routerLink="/register">Register</a>

        </ng-container>
        <ng-container *ngIf="isLogged">
            <a routerLink="/add">Add Book</a>
            <a routerLink="/profile">Profile </a>
        </ng-container>
        <div class="logout">
            <ng-container *ngIf="isLogged">
                <a (click)="logout()">Logout</a>
            </ng-container>
        </div>

        <!-- <a routerLink="/liked" mat-icon-button aria-label="Example icon button with a heart icon">
            <mat-icon>favorite</mat-icon>
        </a> -->
    </mat-toolbar-row>
</mat-toolbar>