<div class="container">
    <ng-container *ngIf="!inEditMode">
        <div class="title">
            <h1>Details Page</h1>
        </div>
        <div class="image">
            <img src={{book?.imageUrl}} alt="no-img">
        </div>
        <article class="book">
            <div class="info">
                <h3>Book's Title: <span>{{book?.name}}</span></h3>
                <h3>Book's Author: <span>{{book?.author}}</span></h3>
                <h3>Year: <span>{{book?.year}}</span></h3>
                <h3>Description: <span>{{book?.description}}</span></h3>
                <h3>Owner: <span>{{book?.owner?.username}}</span></h3>

                <div class="buttons" *ngIf="isLogged">
                    <ng-container *ngIf="isAuthor">
                        <button (click)="inEditMode = true">Edit</button>
                        <button (click)="delete()">Delete</button>
                    </ng-container>
                </div>
                <p class="mainError" *ngIf="errors">{{errors}}</p>
            </div>
        </article>
    </ng-container>


    <ng-container *ngIf="inEditMode">
        <div class="form">

            <form #form="ngForm" (ngSubmit)="editBook(form)">
                <fieldset>
                    <h1 class="h1">Edit book</h1>
                    <label>Book's Name</label>
                    <input #name="ngModel" ngModel type="text" name="name" required minlength="3"
                        [ngModel]="book?.name">
                    <ng-container *ngIf="name.touched">
                        <p class="error" *ngIf="name.errors?.['required']">Book's name is required!</p>
                        <p class="error" *ngIf="name.errors?.['minlength']">You should have at least 3 characters!</p>
                    </ng-container>
                    <label>Book's Author</label>
                    <input #author="ngModel" ngModel type="text" name="author" required minlength="5"
                        [ngModel]="book?.author">
                    <ng-container *ngIf="author.touched">
                        <p class="error" *ngIf="author.errors?.['required']">Book's name is required!</p>
                        <p class="error" *ngIf="author.errors?.['minlength']">You should have at least 5 characters!</p>
                    </ng-container>
                    <label>ImageUrl</label>
                    <input #imageUrl="ngModel" ngModel type="text" name="imageUrl" required [ngModel]="book?.imageUrl">
                    <ng-container *ngIf="imageUrl.touched">
                        <p class="error" *ngIf="imageUrl.errors?.['required']">ImageUrl is required!</p>
                    </ng-container>
                    <label>Year</label>
                    <input #year="ngModel" ngModel type="text" name="year" required max="2022" [ngModel]="book?.year">
                    <ng-container *ngIf="year.touched">
                        <p class="error" *ngIf="year.errors?.['required']">Year is required!</p>
                        <p class="error" *ngIf="year.value.includes(' ')">Year cannot contain any spaces!</p>
                        <p class="error" *ngIf="year.errors?.['max']">Book year cannot be in the future!</p>
                    </ng-container>
                    <label>Description</label>
                    <input #description="ngModel" ngModel type="text" name="description" required minlength="10"
                        maxlength="100" [ngModel]="book?.description">
                    <ng-container *ngIf="description.touched">
                        <p class="error" *ngIf="description.errors?.['required']">Description is required!</p>
                        <p class="error" *ngIf="description.errors?.['minlength']">Description should have at least 10
                            characters!</p>
                        <p class="error" *ngIf="description.errors?.['maxlength']">Description shouldn't have more than
                            100
                            characters!</p>
                    </ng-container>
                    <input [disabled]="form.invalid" type="submit" value="Edit Book">
                </fieldset>
            </form>
        </div>
    </ng-container>
</div>